.DS_Store
log/*
log/**/*
tmp/*
tmp/**/*
bin/*
vendor/bundle/*
vendor/bundle/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
.bundle
config/setting.yml
config/database.rb
db/*.db
db/schema.rb
*.swp
.#*
